.header-groupList{
    display: flex;
    justify-content: space-between;
    .header-title{
        color: #434343;
        font-size: 24px;
        font-weight: normal;;
    }
    
    .group-button{
        background-color: red;
        color: white;
        width: 120px;
        height: 30px;
        border: none;
    }
}
