.App {
    width: 50%;
    margin: auto;
    background-color: #f7f7f7;
}

.title{
    display: inline;
}

.grouping{
    float: right;
    width: 15%;
    color: white;
    font-size: large;
    background-color: #ea5455;
    margin-top: 5px;
}